{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "components": "./src/components",
          "lib": "./src/lib",
          "views": "./src/views"
        },
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
